/* RSS Reader CSS
------------------------------------------------------------ */
#body.feeds #page,
#body.feeds #axe {
	padding: 0;
}

#body.feeds #header {
	box-shadow: 280px 1px 3px 0 rgba(0,0,0,0.5);
}

#rss-list {
	padding: 25px 0 1px;
	margin-left: 305px;
}

/* The frame with elements to read + menu */
#posts-content {
	min-height: 100%;
}

/* the top menu of the list */
.rss-menu-buttons {
	text-align: right;
}

.rss-menu-buttons button {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	padding: 0;
	color: rgba(0, 0, 0, .6);
}

#body.feeds #sub-menu::before {
	content: '';
	position: absolute;
	width: 280px;
	background: #fefefe;
	left: 0;
	bottom: -1px;
	border-top: 1px solid silver;
}

#sub-menu .rss-menu-buttons > li:nth-of-type(1) > button::before { content: "\e92e"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(2) > button::before { content: "\e92f"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(3) > button::before { content: "\e938"; }
#sub-menu .rss-menu-buttons > li:nth-of-type(4) > button::before { content: "\e90f"; }
#sub-menu #count-posts > button { background-image: none; }


/* the left sidebar, with the list of feeds */
#feed-list {
	box-sizing: border-box;
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	overflow-y: scroll;
	position: fixed;
	width: 280px;
	height: calc(100% - 108px);

}

#feed-list li {
	min-height: 1.6em;
	padding: 0;
	display: flex;
	position: relative;
	border-bottom: 1px solid #eee;
	align-items: center;
	font-weight: bold;
}



#feed-list > li.special {
}

#feed-list > li.special:hover {
	box-shadow: none;
}

#feed-list > li.special > ul {
	padding: 0;
	width: 100%;
}

#feed-list > li.special > ul > li {
	padding: 2px 0 2px 20px;
}

#feed-list > li.special > ul > li > a::before {
	display: inline-block;
	vertical-align: middle;
	content: "\e901";
	font-size: 1.6em;
	font-weight: normal;
	padding-right: 5px;
	color: rgba(0, 0, 0, .6);
}

#feed-list > li.special .all-feeds a::before {
	content: "\e901";
}

#feed-list > li.special .today-feeds a::before {
	content: "\e918";
}

#feed-list > li.special .fav-feeds a::before {
	content: "\e90c";
}

#feed-list > li.feed-folder {
	display: block;
}

#feed-list > li > span,
#feed-list > li > ul > li > span {
	padding: 10px 25px 10px 0
}

#feed-list li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: inherit;
	flex: 1;
	padding: 15px 45px 15px 40px;
	background-repeat: no-repeat;
	background-position: 15px center;
	display: block;
	align-items: center;
	outline: none;
}

#feed-list li.feed-site:not([data-nbrun="0"])::after,
#feed-list li.feed-folder:not([data-nbrun="0"])::after {
	content: attr(data-nbrun);
	font-family: inherit!important;
	position: absolute;
	right: 0;
	right: 10px;
	top: 1em;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid silver;
}

#feed-list > li.feed-folder > .feed-folder-title > a {
	padding-left: 15px;
}

#feed-list > li.feed-folder > .feed-folder-title {
	display: flex;
	padding: 0;
	align-items: center;
}

#feed-list > li.feed-folder > .feed-folder-title span {
	padding-left: 5px;
}

#feed-list > li.feed-folder > ul {
	font-weight: normal;
	padding-left: 0;
	margin-left: 0px;
	height: 0;
	overflow: hidden;
}

#feed-list > li.feed-folder.open > ul {
	height: auto;
	overflow: visible;
}

#feed-list > li.feed-folder > ul > li > a {
	padding-left: 50px;
	background-position: 25px center;
}

#feed-list li.feed-folder a.unfold {
	flex: 0 0 30px;
	padding: 0px;
	margin-left: 5px;
	overflow: visible;
	transition: transform ease .2s;
}

#feed-list li.feed-folder a.unfold::before {
	content: "\e92d";
	font-size: 2em;
	color: rgba(0, 0, 0, .6);
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 3px;
}


#feed-list li.feed-folder.open a.unfold:focus::before {
	background: rgba(0, 0, 0, .1);
}

#feed-list li.feed-folder.open a.unfold {
	transform: rotate(90deg);
}

#feed-list li a.feed-error {
	color: red;
}

#feed-list li.active-site,
#feed-list > li.feed-folder.active-site {
	background-color: #eee;
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list > li.feed-folder.active-site .li {
	box-shadow: none;
}


#feed-list li.feed-site:hover,
#feed-list li.feed-folder:not(.open):hover {
	box-shadow: 3px 0 0 var(--md-primary-color) inset;
	transition: box-shadow 0.2s ease 0s
}

#feed-list li[data-nbrun="0"] {
	font-weight: normal;
}

#feed-list li[data-nbrun="0"] .counter {
	visibility: hidden;
}


/* block with list of elements to read */
#post-list-title {
	padding: 5px 20px;
	display: flex;
}

#post-list-title ul {
	text-align: left;
}

#post-list-title ul > li:nth-of-type(1) > button::before        { content: "\e91c"; }
#post-list-title ul > li:nth-of-type(2) > button::before        { content: "\e90a"; }
#post-list-title ul > li:nth-of-type(2) > button.unfold::before { content: "\e90b"; }


#post-list {
	box-sizing: border-box;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#post-list > li {
	padding: 0px 15px 0px;
	border-bottom: #F9F9F9 solid 1px;
	background: white;
}

#post-list > li:hover {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
}

#post-list > li.read:not(.open-post) {
	color: gray;
}

#post-list > li img,
#post-list > li table {
	max-width: 100%;
	height: auto;
}

#post-list > li iframe[src^="https://www.youtube.com/"] {
	max-width: 100%;
	width: 100%;
	display: block;
	border: 0;
	margin: 10px 0;
}

/* rss entry title */
#post-list > li .post-head {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	display: flex;
	min-width: 0;
	align-items: center;
}
#post-list > li .post-head > .post-title {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 17px 10px 15px 0;
}

#post-list > li .post-head .post-title:hover {
	text-decoration: underline;
	flex: 1 0 auto;
}

#post-list > li:not(.open-post) .post-head .post-title:hover {
	text-decoration: none;
}

#post-list > li .post-head .site {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 125px;
	padding-right: 10px;
	color: rgba(0, 0, 0, .5);
	font-size: .9em;
}

#post-list > li .post-head .date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	min-width: 0;
	font-size: .9em;
	color: rgba(0, 0, 0, .5);
}

#post-list > li .rss-item-content {
	height: 0;
	overflow: hidden;
	opacity: 0;
}

#post-list > li .rss-item-content * {
	max-width: 100%;
}

#post-list > li hr.clearboth {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
}

#rss-list > .keyshortcut {
	clear: both;
	font-size: .9em;
	color: gray;
	margin-top: 20px;
	text-align: center;
}

/* opened post */
#post-list > li.open-post {
	box-shadow: 4px 0px 0px var(--md-primary-color) inset;
	color: inherit;
	cursor: auto;
	position: relative;
	padding: 0 20px 15px;
}

#post-list > li.open-post .rss-item-content {
	margin-top: 15px;
	transition: opacity .7s cubic-bezier(0.175, 0.585, 0.32, 1);
	opacity: 1;
	height: auto;
}

#post-list > li .post-head a {
	outline: none;
}

#post-list > li .post-head .lien-fav {
	flex: 0 0 32px;
	margin-right: 10px;
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

#post-list > li .post-head .lien-fav::before {
	content: "\e942";
	font-size: 1.3em;
}

#post-list > li .post-head .lien-fav[data-is-fav="1"]::before {
	content: "\e90c";
	color: red;
}

#post-list > li:hover .post-head .date {
	display: none;
}

#post-list > li .post-head .folder {
	border: 1px solid silver;
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 10px 0 0;
}

#post-list > li .post-head .share {
	display: none;
}

#post-list > li:hover .post-head .share {
	display: block;
}

#post-list > li .post-head .share a {
	margin-left: 5px;
	text-decoration: none;
	color: rgba(0, 0, 0, .4);
	border-radius: 50%;
	width: 32px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1.3em;
}




#post-list > li .post-head .lien-share::before {
	content: "\e910";
}
#post-list > li .post-head .lien-open::before {
	content: "\e94a";
}
#post-list > li .post-head .lien-tweet::before {
	content: "\e94b";
}
#post-list > li .post-head .lien-mail::before {
	content: "\e91e";
}
#post-list > li .post-head .lien-gplus::before {
	content: "\e94c";
}

#post-list > li .post-head .share a:hover,
#post-list > li .post-head .lien-fav:hover {
	background: rgba(0,0,0, .1);
	color: rgba(0, 0, 0, .6);
}

/* RSS Config Page -------------------- */
#form-rss-config {
	margin: 30px 0;
}

#form-rss-config > .feed-item {
	margin: 0 12px 25px;
	display: inline-block;
	width: 300px;
}

#form-rss-config .feed-error {
	color: red;
}

#form-rss-config p {
	margin: 0;
	display: flex;
}

#form-rss-config p:first-of-type input { /* name */
	font-weight: bold;
	-moz-appearance: none;
}

#form-rss-config p:nth-of-type(2) input { /* url */
	text-overflow: ellipsis;
}

#form-rss-config p:last-of-type { /* buttons */
	margin-top: 15px;
	justify-content: flex-end;
}

#form-rss-config .button-cancel {
	display: none;
}

#form-rss-config label {
	flex: 0 0 24px;
	height: 38px;
	overflow: hidden;
	line-height: 38px;
}

#form-rss-config label::before {
	content: "\e901";
	font-size: 1.3em;
	color: rgba(0, 0, 0, .5);
}

#form-rss-config label[for^="i_"]::before { content: "\e903"; }
#form-rss-config label[for^="j_"]::before { content: "\e926"; }
#form-rss-config label[for^="l_"]::before { content: "\e91a"; }

#form-rss-config input.text {
	flex: 1;
	border-bottom-color: transparent;
}

#form-rss-config button.button-delete {
	margin-left: 10px;
	margin-top: 0;
	vertical-align: middle;
	background: none;
	color: #f44336;
	box-shadow: none;
}
#form-rss-config button.button-delete:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#form-rss-config button.button-delete:active {
	box-shadow: none;
}

#form-rss-config .to-remove {
	background-color: rgb(250, 250, 250);
}

#form-rss-config .to-remove > p .button-cancel {
	display: inline;
	text-decoration: none;
}

#form-rss-config .to-remove label,
#form-rss-config .to-remove input,
#form-rss-config .to-remove .button-delete {
	opacity: .2;
}
