@charset "utf-8";

/* FONT-FACES
------------------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto light"), url("roboto-300.woff2") format("woff2"), url("roboto-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto regular"), local("roboto regular"), url("roboto-400.woff2") format("woff2"), url("roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("roboto medium"), url("roboto-500.woff2") format("woff2"), url("roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("roboto bold"), url("roboto-700.woff2") format("woff2"), url("roboto-700.woff") format("woff");
}

@font-face {
  font-family: "icon";
  src: url("icon.woff?17") format("woff");
}


/* CSS VARIABLES
------------------------------------------------------------*/

:root {
	--md-primary-color: #263238; /* UI objects BG : top, etc. ; */
	--md-secondary-color: #DB4437; /* UI items : FAB, buttons…; */
	--main-md-text-color: #ffffff;
	--scnd-md-text-color: #ffffff;
}

::selection {
	color: var(--main-md-text-color);
	background: var(--md-primary-color);
}
::-moz-selection {
	color: var(--main-md-text-color);
	background: var(--md-primary-color);
}


/* ANIMATIONS
------------------------------------------------------------*/
/* rotating loading spinner */
@keyframes spinnerLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* bottom left popup in/out sliding */
@keyframes popup-disapear {
	10% {
		bottom: 30px;
	}
	80% {
		bottom: 30px;
	}
	90% {
		bottom: -100px;
		opacity: 1;
	}
	100% {
		opacity: 0;
		bottom: -999px;
	}
}

/* makes a box appearing */
@keyframes appear {
	0%   { transform-origin: 50% 50%; transform: scale(0); }
	99%  { transform-origin: 50% 50%; transform: scale(1.05); }
	100% { transform-origin: 50% 50%; transform: scale(1); }
}

@keyframes appearSlow {
	0%   { transform-origin: 50% 50%; transform: scale(0.4 , 1.4); }
	100% { transform-origin: 50% 50%; transform: scale(1, 1); }
}


/* makes a box disapearing vertically */
@keyframes disapear {
	0%   { transform-origin: 0 0; transform: scaleY(1); opacity: 1; }
	100% { transform-origin: 0 0; transform: scaleY(0); opacity: 0; }
}

/* makes a box disapearing honrizontaly */
@keyframes disapearH {
	0%   { transform-origin: 0 0; transform: scaleX(1); opacity: 1; }
	100% { transform-origin: 0 0; transform: scaleX(0); opacity: 0; }
}

/* elements slide smothly to right / left */
@keyframes slideright {
	  0% { left: 50%; opacity: 1; }
	100% { left: 60%; opacity: 0; }
}
@keyframes slideleft {
	  0% { left: 50%; opacity: 1; }
	100% { left: 40%; opacity: 0; }
}

/* material design button-click "ripple" effect */
@keyframes md-ripple {
	0% {
		transform: scale(0, 0);
		opacity: 1;
	}
	50% {
		transform: scale(25, 25);
		opacity: .5;
	}
	100% {
		opacity: 0;
		transform: scale(25, 25);
	}
}

/* popup fade-in */
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}


/* GENERAL PAGE LAYOUT
------------------------------------------------------------ */
html, body {
	margin: 0; padding: 0;
	background: #eee;
	color: rgba(0, 0, 0, .87);
	font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}

* {
	color: inherit;
}

*::before,
*::after {
	font-family: "icon"!important;
	vertical-align: middle;
	line-height: 1;
	color: inherit;
}

html {
	font-size: 15px;
	min-height: 100%;
}

body {
	font-size: 1em; /* 15px */
	position: relative;
	height: 100%;
}


#header {/* the top bar(s) */
	padding: 0;
	width: 100%;
	z-index: 100;
	color: white;
	color: var(--main-md-text-color);
	position: sticky;
	top: 0;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
}

#axe { /* the entire page without top bars (#header) and footer (#footer) */
	padding: 20px;
	max-width: 1600px;
	margin: auto;
}

#page { /* the main frame. #axe minus the "filtre" forms, and the subnav */
	padding: 0 5px;
}

/* Footer */
#footer {
	clear: both;
	text-align: center;
	color: #666;
	padding: 10px;
	font-size: .8em;
}

/* GENERAL STUFF
------------------------------------------------------------------- */

a {
	color: #2196F3;
}

a:hover {
	color: #4f6681;
	text-decoration: underline;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

.centrer {
	text-align: center;
}

.hidden {
	display: none;
}

img {
	border: none;
}

pre { white-space: pre-wrap; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Roboto, Arial, sans-serif;
	clear: both;
}

textarea {
	resize: both;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

textarea, input, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: 300;
	border-radius: 0;
}

label, input, textarea, select {
	vertical-align: middle;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	cursor:pointer;
}

q, blockquote {
	font-style: italic;
}

.info { /* ex : « il n'y a aucun commentaire » est un .info */
	padding: 15px;
	padding-left: 40px;
	position: relative;
	margin: 0;
}

/* Message de confirmation ou d’erreur */
.confirmation, .no_confirmation {
	max-width: 400px;
	position: fixed;
	bottom: -100px; left: 20px;
	padding: 15px;
	margin: auto;
	text-align: center;
	font-weight: bold;
	z-index: 50;
	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);
	animation: popup-disapear 7s;
	animation-fill-mode: forwards;
	border: 1px solid #333;
	border-radius: 3px;
	background: #444;
	color: #fff;
}

.no_confirmation {
	color: #faa;
}

#erreurs, .erreurs {
	display: block;
	clear: both;
	color: #D40000;
	margin: 0 0 15px 0;
}


/* TOP
------------------------------------------------------------------------ */
#top {
	display: flex;
	box-sizing: border-box;
	background: #263238;
	background: var(--md-primary-color);
	align-items: center; /* vertical align*/
	height: 64px;
	padding: 8px;
}

#top > h1,
#top > #search,
#top > #notif-icon,
#top > #nav-acc {
	box-sizing: border-box;
	line-height: 48px;
}


/* TOP > H1 : title w/ link;
------------------------------------------------------*/
#top > h1 {
	flex: 1 0 auto;
	padding-left: 16px;
	margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}

#top > h1 > a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

/* TOP > Search button + searchbar
------------------------------------------------------*/
#top > #search {
	flex: 0 1 550px;
	margin: 0 15px 0 8px;
	display: flex;
	align-items: stretch;
	color: rgb(0, 0, 0);
	height: 100%;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 2px;
	overflow: hidden;
}

#top #q { /* normal */
	padding: 0 10px;
	border: 1px solid transparent;
	box-sizing: border-box;
	max-width: 550px;
	flex: 1 1 auto;
	min-width: 0;
	order: 2;
	background-color: transparent;
}

#top #q:focus,
#top #q:focus + button::before,
#top #q[value=""]:focus,
#top #q[value=""]:focus + button::before,
#top #q:not([value=""]),
#top #q:not([value=""]) + button::before { /* focus OR not empty (a search is done) */
	background: rgba(255, 255, 255, 1);
}


#top #input-rechercher {
	border: 0;
	overflow: hidden;
	padding: 0;
	box-sizing: border-box;
	flex: 0 0 48px;
	order: 1;
}

#top #input-rechercher::before {
	content: "\e925";
	position: relative;
	font-size: 1.6em;
	display: block;
	width: 100%;
	line-height: 48px;
	padding-top: 1px /* icon-form centering compensation */
}


#top #q:hover { /* hover */
	cursor: text;
}


/* TOP > Notif-icon / drop-down menu
------------------------------------------------------*/
#top > #notif-icon {
	flex: 0 0 48px;
	position: relative;
}

#top > #notif-icon::before {
	font-size: 1.6em;
	text-align: center;
	content: "\e948";
	width: 48px;
	cursor: pointer;
	display: inline-block;
	line-height: 48px;

}

#top > #notif-icon.hasNotifs::before {
	content: "\e949";
}

#top > #notif-icon.hasNotifs::after {
	content: attr(data-nb-notifs);
	position: absolute;
	color: white;
	height: 18px;
	font-size: .7em;
	font-family: inherit !important;
	background: red;
	border-radius: 10px;
	padding: 4px;
	box-sizing: border-box;
	top: 2px;
	right: 30px;
}

#top > #notif-icon > ul {
	list-style-type: none;
	margin: 0;
	padding: 25px 10px;
	box-sizing: border-box;
	position: absolute;
	background-color: white;
	color: rgba(0, 0, 0, .6);
	width: 270px;
	right: -48px;
	transform: translateY( calc(-100% - 50px) ) ;
	top: 60px;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
	text-align: center;
	border: 1px solid rgba(0,0,0,.2);
	opacity: 0;
	border-radius: 2px;
}

#top > #notif-icon > ul::before {
	content: "";
	position: absolute;
	padding: 7px;
	top: -8px;
	right: 63px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	transform: rotate(45deg);
	background: inherit;
}

#top > #notif-icon > ul.visible {
	opacity: 1;
	z-index: 1;
	transition: opacity .4s ease-out;
	transform: translateY(0);
}

#top > #notif-icon a {
	margin: 0;
	display: block;
	text-decoration: none;
	color: inherit;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
}

#top > #notif-icon a:hover {
	background: rgba(0, 0, 0, .1);
}



/* TOP > Right nav bar
------------------------------------------------------*/
#top > #nav-acc {
	flex: 0 0 48px;
}

#top > #nav-acc::before {
	font-size: 2em;
	text-align: center;
	content: "\e900";
	width: 48px;
	cursor: pointer;
	display: inline-block;
	line-height: 48px;
}

/* TOP > right menu
----------------------------------------*/
#top > #nav-acc > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: absolute;
	background-color: var(--md-primary-color);
	width: 250px;
	right: 0;
	transform: translateY(-230px);
	top: 64px;
	box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.6);
	z-index: -1;
	text-align: right;

}

#top > #nav-acc > ul.visible {
	transition: transform .4s ease-out;
	transform: translateY(0);
}


#top > #nav-acc a {
	margin: 0;
	height: 45px;
	line-height: 45px;
	padding-right: 50px;
	display: block;
	text-decoration: none;
	color: inherit;
}

#top > #nav-acc a:hover {
	background: rgba(0, 0, 0, .1);
}

#top > #nav-acc a:after {
	font-size: 1.9em;
	margin-left: 5px;
}

#top > #nav-acc #lien-preferences:after { content: "\e914"; }
#top > #nav-acc #lien-site:after        { content: "\e912"; }
#top > #nav-acc #lien-deconnexion:after { content: "\e90e"; }


/* TOP > Sub-menu (on specific pages)
------------------------------------------------------*/
#sub-menu {
	min-height: 44px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	background: #fefefe;
	color: #333;
	position: relative;
	z-index: -2
}

#sub-menu #count-posts {
	display: flex;
	align-items: center;
}

#sub-menu #counter {
	margin: 0 8px;
	display: none;
	height: 15px;
	width: 15px;
	border: 3px solid rgba(0, 0, 0, .1);
	border-top-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	animation: spinnerLoading 0.6s infinite linear;
}

#sub-menu #message-return {
	display: block;
	margin: 10px auto;
	flex: 1;
}

.sub-menu-buttons {
	margin: 2px 0;
	padding: 0;
	flex: 1 0 auto;
	text-align: right;
}

.sub-menu-buttons > li {
	display: inline-block;
}

.sub-menu-buttons button::before {
	font-size: 1.6em;
}

.sub-menu-buttons li > button:focus,
.sub-menu-buttons li > button::-moz-focus-inner {
	background-color: rgba(0, 0, 0, .05);
	transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   outline: none;
	border-color: transparent;
}


/* SUBNAV (with nb articles/comms or link to "see online")
------------------------------------------------------------------ */

#subnav {
	margin: 10px 5px 20px;
	display: flex;
	align-items: center;
}


#subnav .nombre-elem {
	font-weight: bold;
	color: #333;
	text-align: center;
	margin: auto 0 auto auto ;
}

#subnav .nombre-elem ul { /* list on link-hover on comm-page */
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 15;
}

#subnav .nombre-elem li {
	margin: 0;
	box-sizing: border-box;
	transition: box-shadow ease 0s, opacity ease .1s;
}

#subnav .nombre-elem li+li {
	position: absolute;
	width: 100%;
	padding: 0;
	height: 0;
	overflow: hidden;
}

#subnav .nombre-elem ul:hover li {
	background: #fefefe;
	box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
	transition: box-shadow ease .1s, opacity ease 0s;
}

#subnav .nombre-elem li:hover {
	background: #f5f5f5;
}

#subnav .nombre-elem a:hover{
	color: #45a6ff;
}

#subnav .nombre-elem ul:hover li+li {
	height: auto;
}

#subnav .nombre-elem ul li:first-of-type {
	border-radius: 3px 3px 0 0;
}

#subnav .nombre-elem ul li:last-of-type {
	border-radius: 0 0 3px 3px;
}

#subnav .nombre-elem a {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}

#subnav .nombre-elem > ul > li > a {
	width: 100%;
	box-sizing: border-box;
}


/* Floating action button (FAB)
------------------------------------------------------------------ */

#fab {
	display: inline-block;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	position: fixed;
	box-sizing: border-box;
	padding: 0;
	padding-left: 56px;
	overflow: hidden;
	right: 32px;
	bottom: 32px;
	z-index: 99;
	transition: transform .2s cubic-bezier(.57,.57,.96,1.39);
	border: 0;
}

#fab::before {
	content: "\e903";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	color: var(--scnd-md-text-color);
	line-height: 56px;
	text-align: center;
	font-size: 1.9em;
	background: #f44336;
	background: var(--md-secondary-color);
}

#fab:focus {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 8px 17px 0 rgba(0, 0, 0, 0.4);
	outline: none;
}

#fab.hidden {
	transform: scale(0);
	transition: transform .2s cubic-bezier(.2,-.5,.5,.2);
}

#fab.add-feed::before,
#fab.add-note::before {
	content: "\e927";
}

#fab.add-event::before {
	content: "\e918";
}

/* GENERAL FORM STUFF
----------------------------------------------------------*/
form {
	margin: 0;
}

.text, *[type='submit'] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px;
	background: none;
}

.text {
	margin: 0;
	padding: 10px 5px;
	border: 0 solid transparent;
	border-radius: 0;
	background: white no-repeat;
	background-image: linear-gradient(to bottom, #2196F3, #2196F3), linear-gradient(to bottom, silver, silver);
	background-position: 0 100%, 100% 100%;
	background-size: 0 2px, 100% 1px;
	transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.text:invalid {
	box-shadow: none;
	outline: none;
	background-image: linear-gradient(to bottom, #f44336, #f44336), linear-gradient(to bottom, silver, silver);
}

.text:focus {
	background-size: 100% 2px, 100% 1px;
}


/* <Select> + <option> + <optgroup> */
select {
	background: #fafafa;
	padding: 10px;
	margin-right: 5px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
	border: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}

select option,
select optgroup::before {
	border: 0;
	background: white;
	color: #333;
}
select optgroup::before {
	background: #eee;
	text-align: center;
}


/* FORMS defaults
-------------------------------------------------------------*/

/*input buttons */
.submit-bttns {
	text-align: right;
	margin: 20px auto 5px;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
	padding: 0 20px;
}

.submit-bttns .button-delete {
	float: left;
}

.submit {
	color: white;
	font-weight: 500;
	vertical-align: middle;
	padding: 6px 12px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	border: 0px solid transparent;
	min-width: 100px;
	text-transform: uppercase;
}
.button-cancel:hover,
.button-delete:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-submit {
	min-width: 140px;
	background: #2196f3;
}

.button-delete {
	color: #f44336;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	transition: box-shadow .2s;
	background: white;
}

.button-cancel {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	background: white;
	color: #555;
	margin-right: 5px;
	transition: box-shadow .2s;
}

.submit[disabled] {
	color: silver;
	background: #eee;
	box-shadow: none;
	cursor: auto;
}

.submit {
	position: relative;
	overflow: hidden;
}

.submit:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
}

/* for mouse focus */
.submit:focus:hover::after {
	animation: md-ripple 1s ease-out;
}
/* for keyboard focus */
.submit:focus:not(:hover)::after {
	background: rgba(255, 255, 255, .2);
	transform: scale(1, 1);
	border-radius: 0;
	opacity: 1;
}

/* checkboxes */
.checkbox {
	position: absolute;
	left: -9999px;
}

.checkbox+label {
	cursor: pointer;
	position: relative;
	margin: 15px 5px 10px 30px;
	display: inline-block;
}

.checkbox+label::after { /* the checkbox */
	content: '\e905';
	text-align: center;
	color: white;
	font-size: 1em;
	border: 2px solid rgba(0, 0, 0, .3);
	border-radius: 3px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: -4px;
	transform: translate(-20px, -50%);
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	line-height: 14px;
	transition: background-color 1s, border-color 1s;
}

.checkbox:checked+label::after { /* the checkbox -- checked */
	border-color: rgba(33, 150, 243, 0);
	background-color: rgba(33, 150, 243, 1);
}

.checkbox+label::before { /* the focus ripple */
	content: '';
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: -16px;
	transform: translate(-50%, -50%) scale(0);
	width: 2px;
	height: 2px;
}

.checkbox:focus+label::before {
	animation: md-ripple 1s ease-out;
}

/* checkboxes with "toggle-button" style */
.checkbox-toggle {
	position: absolute;
	left: -9999px;
}

.checkbox-toggle+label {
	cursor: pointer;
	position: relative;
	margin-right: 60px;
}

.checkbox-toggle+label::after {
	position: absolute;
	right: -30px;
	top: -1px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background: #ECECEC;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	content: '';
	transition: all 0.3s ease;
}

.checkbox-toggle:checked + label::after {
	right: -50px;
	background: #4285F4;
}

.checkbox-toggle+label::before {
	position: absolute;
	right: -50px;
	top: 3px;
	display: block;
	height: 15px;
	width: 40px;
	background: #B2B2B2;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	content: '';
}

.checkbox-toggle:checked + label:before {
	background: #A0C2F9;
}

.checkbox-toggle:focus+label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 5px rgba(0, 0, 0, .1);
}

.checkbox-toggle:not(:disabled):active + label::after {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0 0 0 15px rgba(160, 194, 249, .4);
}

legend {
	padding: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* ERREURS */
#erreurs, .erreurs, #succes, .succes {
	display: block;
	clear: both;
	margin: 0 0 15px 0;
}

#erreurs, .erreurs {
	color: #D40000;
}
#succes, .succes {
	color: #00A400;
}

#erreurs ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 10px;
}

#erreurs li {
	margin: 0;
}

/* Page maintenance.
********************************************/
#form_export,
#form_import,
#form_optimi,
#e_json,
#e_html,
#e_zip {
	display: none;
}


/* MAIN PAGES TILES Styles
*************************************/

/* form writing */
#auth, #install,
#preferences > div, #preferences-captcha, #maintenance-form form,
#form-rss-config .feed-item, #feed-list, #post-list,
.notebloc, #post-new-note,
#calendar, #events-section, #popup-wrapper, #popup, #daily-events
 {
	padding: 15px;
	background: #fefefe;
	/*box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);*/
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	border-radius: 2px;
}

